<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Come and tell us about your clean products <%= user ? user.profile.name : "friend" %> ! </h1>
  <img src="https://cdn.pixabay.com/photo/2015/08/25/03/51/toner-906142__340.jpg" id="image">
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
