<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>

    <!-- <h1><%= title %></h1>
    <a href="/reviews/new">New Review</a> -->

<h1>Reviews</h1>
<% if (user) { %>
    <h2>What was your experience with this product?</h2>
<form action="/reviews" method="POST">
<label>
    Review:
    <input type="text" name="review" autocomplete="off">
</label>
<button type="submit">Add Review</button>
</form>
<h2>All the reviews</h2>
<ul>
    <% reviews.forEach(review => { %>
    <li>
        <a href="/reviews/<% review._id %>"><%= review.name %></a>
    </li>    
    <% }) %>
</ul>
</section>
<% } %>


<%- include('../partials/footer') %>