<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <p><%= review.reviewer.name %>'s Profile</p>
    <h1><%= review.name %>Edit your review here</h1>
    <% if (user) { %>
        <form action="/reviews/"<%= review._id %>

    <% } %>
</section>



<%- include('../partials/footer') %>