<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <p><%= review.owner.name %>'s Profile</p>
    <h1><%= review.name %>something</h1>
</section>



<%- include('../partials/footer') %>