<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
<section>

    <h1>Edit Your Review!</h1>
    <form action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
    <label>
        Name:
        <input
        type="text"
        name="name"
        value="<%=review.name %>"
        autocomplete="off"
        >
    </label>
    <label>
        Review:
        <input type="text" name="review" value="<%=review.review %>" autocomplete="off">
    </label>
    <label>
        Rating: 
        <input type="number" name="rating" value="<%=review.rating %>" autocomplete="off" min="1" max="5" required>
      </label>
    <div id="add-review"><button type="submit" class="adding-button">Edit Review&nbsp;<i class="far fa-edit"></i></button></div>
    </form>
    </section>
</main>

    <%- include('../partials/footer') %>