<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Products</h1>
    <h2><%= title %></h2>
    <h4>Add your favorite beauty products here</h4>
    
    <ul>
    <div class="parent-product"></div>
        <% products.forEach(product => { %>

            <li>
                <a href="/products/<%= product._id %>"><%= product.name %></a>
                 is <%= product.clean ? 'clean' : 'not clean' %>
             </li>   
            
        <% }) %>
    </div>
</ul>
</section>

<%- include('../partials/footer') %>