<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
<section>
    <!-- <h2><%= title %>:</h2> -->

    <h2>Add your favorite beauty products here!</h2>

    <ul>
    <div class="parent-product"></div>
        <% products.forEach(product => { %>

            <li>
                <a href="/products/<%= product._id %>" class="hover-color"><%= product.name %></a>
                 is a <%= product.clean ? 'clean' : 'not clean' %> <%= product.category %> product
             </li>   
            
        <% }) %>
    </div>
</ul>
</section>

<%- include('../partials/footer') %>