<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Products</h1>
<div>
    <label>
        Name:
    </label>
    <label>
        Clean?
        <input type="checkbox" name="name">
    </label>
</div>
    <h2>All the Products!</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>Product <%= product.name %> is <%= product.clean ? 'clean' : 'not clean'%></li>      
        <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>