<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Products</h1>

    <form action="/products" method="POST">
        <label>
            Name:
            <input type="text" name="name" autocomplete="off">
        </label><br>
        <label>Category
            <select type="text" name="category">
                <option value="Beauty">Beauty</option>
                <option value="Skincare">Skincare</option>       
        </select>
        </label>
        <label>
            Clean?
            <input type="checkbox" name="clean">
        </label><br>
        <button type="submit">Add Products</button>
        </form>
    <h2>All the Products!</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>Product <%= product.name %> is <%= product.clean ? 'clean' : 'not clean'%></li>      
        <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>