<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Products</h1>

    <form action="/products" method="POST">
        <label>
            Name:
            <input type="text" name="name" autocomplete="off">
        </label><br>
        <label>
            Rating from 1 to 5: 
            <input type ="number" name="rating" autocomplete="off">
        </label><br> 
        <label>
            Clean?
            <input type="checkbox" name="clean">
        </label><br>
        
        <button type="submit">Add Products</button>
        </form>
<div>
    <label>
        Name:
    </label>
</div>
    <h2>All the Products!</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>Product <%= product.name %> is <%= product.clean ? 'clean' : 'not clean'%></li>      
        <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>