<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
    <h1>Products</h1>
  
    <h2>All the Products!</h2>
    <div class="parent-product">
        <% products.forEach(product => { %>
            <div class="product">Product <%= product.name %> is <%= product.clean ? 'clean' : 'not clean'%> - <a href="/products/<%= product._id %>">DETAILS</a></div>      
            
        <% }) %>
    </div>
</section>

<%- include('../partials/footer') %>