<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<%= product.name %>
<%= product.category %>
<%= product.clean ? "clean" : "not clean" %>

<%= Math.floor(product.reviews.reduce((total,review) =>  total + review.rating, 0) / product.reviews.length) %>

<h2>Reviews</h2>

<h3>What was your experience with this product?</h3>
<% if (user) { %>

    <form action="/products/<%= product._id %>/reviews" method="POST" id="review-form">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off" required>
      </label><br>
      <label>
        Review: 
        <input type="text" name="review" autocomplete="off" required>
      </label><br>
      <label>
        Rating: 
        <input type="number" name="rating" autocomplete="off" min="1" max="5" required>
      </label><br>
      <input name="reviewer" value="<%= user.profile._id %>" hidden >
      <button type="submit" class="adding-button">Add Review</button>
    </form>
  <% } %>


<h2>All the reviews</h2>
<ul>
    <% product.reviews.forEach(review => { %>
    <li> <%= review.name %> 
        <%= review.review %> 
        <%= review.rating %>/5 
    </li> 
        <section>
           
            <% if (review.reviewer.equals(user?.profile._id)) { %>
                
                    
               
               
                    <form action="/products/<%= product._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="adding-button">Delete this review</button>
                    </form>

                    <form action="/products/<%= product._id %>/reviews/<%= review._id %>/edit"> 
                      <button type="submit" class="adding-button">Edit this Review</button>
                      <form>
                
            <% } %>
        </section>
       
    <% }) %>
</ul>
</main>


<%- include('../partials/footer') %>