<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<h1>Reviews</h1>

<h2>What was your experience with this product?</h2>
<% if (user) { %>

    <form action="/products/<%= product._id %>/reviews" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label><br>
      <label>
        Review: 
        <input type="text" name="review" autocomplete="off">
      </label><br>
      <label>
        Rating: 
        <input type="number" name="rating" autocomplete="off">
      </label><br>
      <button type="submit">Add Review</button>
    </form>
  <% } %>


<h2>All the reviews</h2>
<ul>
    <% product.reviews.forEach(review => { %>
    <li>
        <%= review.review %>
    </li>    
    <% }) %>
</ul>

<section>

    <h1>Edit your Review!</h1>
    <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
    <label>
        Name:
        <input
        type="text"
        name="name"
        value="<%=review.name %>"
        autocomplete="off"
        >
    </label>
    <label>
        <input type="text" name="review" value="<%=review.review %>" autocomplete="off">
    </label>
    <button type="submit">Edit your Review</button>
    </form>
    </section>

    <section>
        <p><%= review.reviewer.name %>'s Profile</p>
        <h1><%= review.name %>Edit your review here</h1>
        <% if (review.reviewer.equals(user?.profile._id)) { %>
            <p>
                <a class="link" href="/reviews/<%= review._id %>/edit"> Edit this Review</a>
            </p>
            <p>
                <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete this review</button>
                </form>
            </p>
        <% } %>
    </section>

<%- include('../partials/footer') %>